<!-- Recent Area Start -->
<div class="recent-area section-paddingt">
  <div class="container">
      <!-- section tittle -->
      <div class="row">
          <div class="col-lg-12">
              <div class="section-tittle text-center bold">
                  <h1>Additional products</h1>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-recent-cap mb-30">
                  <div class="recent-img">
                      <img src="assets/assets/img/recent/rcent_1.png" alt="">
                  </div>
                  <div class="recent-cap">
                      <span>TALENT</span>
                      <h4><a href="single-blog.html">Build your employer brand to attract tech talent</a></h4>
                      <!-- <p>Nov 30, 2020</p> -->
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-recent-cap mb-30">
                  <div class="recent-img">
                      <img src="assets/assets/img/recent/rcent_2.png" alt="">
                  </div>
                  <div class="recent-cap">
                      <span>ADVERTISING</span>
                      <h4><a href="single-blog.html">Reach the world's largest audience of developers and technologies</a></h4>
                      <!-- <p>Nov 30, 2020</p> -->
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-recent-cap mb-30">
                  <div class="recent-img">
                      <img src="assets/assets/img/recent/rcent_3.png" alt="">
                  </div>
                  <div class="recent-cap">
                      <span>JOBS</span>
                      <h4><a href="single-blog.html">Programming and related technical carrier opportunities</a></h4>
                      <!-- <p>Nov 30, 2020</p> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Recent Area End-->
