<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div class="container-fluid maindiv">
  <div  *ngIf="successalert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!!</strong>Answer added Successfully...
    <button type="button" (click)="successclosealert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div  *ngIf="failalert" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error occurs!!</strong>Try Again....
    <button type="button" (click)="failclosealert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">

<!-- Left div -->

    <div class="col-md-2 col">
      <div class=" container  shadow-sm p-3 bg-body rounded">
        <div class="container-fluid Heading pt-2 shadow-sm p-1 bg-body rounded">
           <p><a href="#">Category</a></p>
        </div>
        <div class="container-fluid Heading pt-2 shadow-sm p-3 bg-body rounded">
          <nav>
            <ul class="greyleft">
              <li  class="sidenav">
                <a href="#">Education</a>
              </li>
              <li class="sidenav">
                <a href="#">Music</a>
              </li>
              <li class="sidenav">
                <a href="#">Sports</a>
              </li>
              <li class="sidenav">
                <a href="#">Mathematics</a>
              </li>
              <li class="sidenav">
                <a href="#">Travelling</a>
              </li>
              <li class="sidenav">
                <a href="#">Fashion and Style</a>
              </li>
              <li class="sidenav">
                <a href="#">Food</a>
              </li>
              <li class="sidenav">
                <a href="#">+ Discover Category</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

        <!-- Center div here -->

    <div class="col-md-7 col shadow p-3 mb-5 bg-body rounded">
        <div class="container Heading pt-2 text-center shadow-sm p-s bg-body rounded">
         <p> <button mat-button (click)="openDialogue()" >Share a Question or link?</button></p>

        </div>

        <!-- center div 1st part with Q and A -->

        <div class="container Heading shadow-sm p-3 bg-body rounded ">

          <div *ngFor="let ans1 of answ; let i=index">

           <span class="username">

              <img src= {{ans1.pictureid.image}} class="img" width="45" >

            {{ans1.userid.firstname}}</span>
           <span class="follow ml-2"><a href="#">Follow</a></span>
           <br>
           <span class="follow mt-0"> Lives in
             {{ans1.credentialid.address}},
            </span>
           <span class="follow">{{ans1._id.date | date}}</span>
           <div class="question mt-3">
              <a href="#">
                {{ans1.questionid.question}}
              </a>
           </div>
           <div class="info">
             {{ans1._id.answer}}
           </div>

           <div class="bottom">
             <form #likeform="ngForm" class="form"
             (ngSubmit)="incLikes(likeform)">

            <input
            type="hidden"
            name="_id"
            #_id="ngModel"
            [(ngModel)]="ans1._id._id">

            <input
            type="hidden"
            name="likes"
            #likes="ngModel"
            [(ngModel)]="userserviceobj.answers.likes">

             <button type="submit"  mat-flat-button ><i class="fa fa-thumbs-up "> {{ans1._id.likes.length}} likes </i></button>

            </form>

            <form #dislikeform="ngForm"  class="form"
             (ngSubmit)="disLikes(dislikeform)">

            <input
            type="hidden"
            name="_id"
            #_id="ngModel"
            [(ngModel)]="ans1._id._id">

            <input
            type="hidden"
            name="likes"
            #likes="ngModel"
            [(ngModel)]="userserviceobj.answers.likes">

             <button type="submit" mat-flat-button ><i class="fa fa-thumbs-down "> 2.1k</i></button>
             </form>

             <button type="submit"  mat-flat-button ><i class="fa fa-share" ng-click="incrementLikes(technology)">4.3k</i></button>

             <mat-accordion>
              <mat-expansion-panel hideToggle class="expansiontittle mt-3">
                <mat-expansion-panel-header class="expansiontittle">
                  <mat-panel-title class="expansiontittle">
                    Give a better answer
                  </mat-panel-title >
                </mat-expansion-panel-header>
                <div>
                  <div class="answered"  >


                    <div class="container Heading shadow-sm p-3 bg-body rounded mt-3" >
                      <div *ngFor="let res of result">
                      <span class="username">
                      <!-- <img src="../../assets/assets/img/icon/userimg.jpg" width="30"  alt="userimg"> -->
                      <ng-container *ngIf="res==undefined; else picture">
                        <img src="../../assets/assets/img/icon/userimg.jpg" width="30"  alt="userimg">
                        </ng-container>

                       <ng-template #picture>
                        <img src= {{res.image}} class="img" width="45" >
                      </ng-template>

                        {{userinfo.firstname}}
                      </span>
                      </div>
                    </div>
                    </div>
                    <div class="customfont Heading containern shadow-sm p-3 bg-body rounded ">
                      <button type="submit" mat-flat-button ><i class="fa fa-bold"></i></button>
                      <button type="submit" mat-flat-button ><i class="fa fa-italic"></i></button>
                      <button type="submit" mat-flat-button ><i class="fa fa-list-ol"></i></button>
                      <button type="submit" mat-flat-button ><i class="fa fa-list-ul"></i></button>
                     </div>

                    <div *ngIf="this.userserviceobj.getuserid()==null; else elseBlock">
                      <mat-form-field class="ansfield">
                        <textarea matInput name="answer" class="answerText"  rows="3" placeholder="Write Answer"
                        #answer="ngModel"
                       [(ngModel)]="userserviceobj.answers.answer" ></textarea>
                      </mat-form-field>

                      <button type="submit" class="postbtn" (click)="alertbox()" mat-stroked-button >Post</button>
                      <button type="button" class="draftbtn mt-2" (click)="alertbox()" mat-stroked-button >Save Draft</button>

                     </div>


                     <ng-template #elseBlock>
                      <div class="inputans">
                      <form #answerform="ngForm"
                      (ngSubmit)="postans(answerform)">

                       <input
                       type="hidden"
                       name="userid"
                       #userid="ngModel"
                       [(ngModel)]="userserviceobj.answers.userid">

                       <input
                       type="hidden"
                       name="questionid"
                       #questionid="ngModel"
                       [(ngModel)]="ans1.questionid._id"
                       >

                       <!-- <input
                       type="hidden"
                       name="credentialid"
                       #credentialid="ngModel"
                       [(ngModel)]="ans1.credentialid._id"
                       > -->

                     <mat-form-field class="ansfield">
                       <textarea matInput name="answer" class="answerText"  rows="3" placeholder="Write Answer"
                       #answer="ngModel"
                      [(ngModel)]="userserviceobj.answers.answer"
                      required
                      [ngClass]="{'is-invalid':answerform.submitted && answer.invalid}" ></textarea>
                     </mat-form-field>
                     <mat-error  *ngIf= "answerform.submitted && answer.invalid">
                      <mat-error *ngIf="answer.errors?.required">
                        Answer should be entered
                      </mat-error>
                      </mat-error>
                      <br><br>


                       <button type="submit" class="postbtn" mat-stroked-button >Post</button>
                     <button type="button" class="draftbtn mt-2" mat-stroked-button >Save Draft</button>

                    </form>
                  </div>

                    </ng-template>

                  </div>

               </mat-expansion-panel>
             </mat-accordion>
           </div> <br>
        </div>
      </div>
        </div>


    <!-- Right portion started here  -->

    <div class="col-md-3 col shadow p-3 mb-5 bg-body rounded righttable">
      <div class=" Heading pt-2 shadow-sm   bg-body rounded">
        <p><button mat-button>Improve Your Account</button></p>
      </div>
     <!-- <table class="tablebox"> -->
         <div class="container-fluid Heading shadow-sm bg-body rounded box btndiv">
           <!-- <tr><a href="#">Follow interesting Peoples.</a></tr> -->
           <button mat-button class="btn-block">Follow interesting Peoples</button>
         </div>
         <div class="container-fluid Heading shadow-sm bg-body rounded btndiv">
           <!-- <tr><a routerLink="/addque">Ask a Question</a> -->
           <button mat-button  class="btn-block" (click)="openDialogue()">Ask a question</button>

         </div>
         <div class="container-fluid Heading shadow-sm bg-body rounded btndiv">
           <!-- <tr><a routerLink="/answer">Answer a Question</a></tr> -->
           <button mat-button class="btn-block" (click)="giveans()">Answer a Question</button>
         </div>
        <!-- </table> -->
        <div class="container Heading pt-2 shadow-sm p-3 mt-4 bg-body rounded">
          <p><a href="#">Links to Follow</a></p>
        </div>
        <table class="tablebox">
          <div class="container-fluid Heading shadow-sm bg-body rounded box">
            <tr><a href="#">Our Teachers on Udemy</a></tr>
          </div>
          <div class="container-fluid Heading shadow-sm bg-body rounded">
            <tr><a href="#">Improve Communication skills</a>
            </tr>
          </div>
          <div class="container-fluid Heading shadow-sm bg-body rounded">
            <tr><a href="#">Learn MS Excel</a></tr>
          </div>
          <div class="container-fluid Heading shadow-sm bg-body rounded">
            <tr><a href="#">Stock Investment Ideas</a></tr>
          </div>
          <div class="container-fluid Heading shadow-sm bg-body rounded">
            <tr><a href="#">Learn MEAN Stack</a></tr>
          </div>
         </table>
      </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->

</body>
</html>
