
<mat-card>

  <div  *ngIf="successalert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!!</strong>Edit profile Successfully...
    <button type="button" (click)="successclosealert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div  *ngIf="failalert" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error occurs!!</strong>Try Again....
    <button type="button" (click)="failclosealert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <button type="button" class="close" (click)="close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <br><br>
  <mat-toolbar>Edit User Details</mat-toolbar>
  <br> <br>
  <form #updateform="ngForm" (ngSubmit)="OnSubmit(updateform)">
   <mat-form-field>
     <input
     type="text"
      name="firstname"
      value={{userinfo.firstname}}
      [(ngModel)]="userserviceobj.regnew.firstname"
        #firstname="ngModel"
      matInput
      placeholder="FirstName"

    >
   </mat-form-field>


   <br><br>

   <mat-form-field>
    <input
    type="text"
     name="lastname"
     value={{userinfo.lastname}}
     [(ngModel)]="userserviceobj.regnew.lastname"
        #lastname="ngModel"
     matInput
     placeholder="lastName"
    >
  </mat-form-field>
  <br><br>

   <mat-form-field>
    <input
    type="text"
     name="email"
     value={{userinfo.email}}
     [(ngModel)]="userserviceobj.regnew.email"
    #email="ngModel"
     matInput
     placeholder="Email"
    email
    [ngClass]="{'is-invalid':updateform.submitted && email.invalid}">
  </mat-form-field>

  <mat-error  *ngIf= "updateform.submitted && email.invalid">
    <mat-error *ngIf="email.errors?.email">
      Invalid format
     </mat-error>
    </mat-error>
  <br><br>

  <mat-form-field>
    <input
    type="text"
     name="contact"
     value={{userinfo.contact}}
     [(ngModel)]="userserviceobj.regnew.contact"
    #contact="ngModel"
     matInput
     placeholder="Contact"
     [ngClass]="{'is-invalid':updateform.submitted && contact.invalid}"
     [pattern]="contactNumberPattern">
  </mat-form-field>

  <mat-error *ngIf= "updateform.submitted && contact.invalid">
    <mat-error *ngIf="contact.errors?.pattern">
      Contact number is invalid
    </mat-error>
  </mat-error>
  <br><br>


  <button type="submit" [disabled]="updateform.invalid" mat-raised-button color="primary">Update User</button>

  </form>
</mat-card>


