
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
  <div class="container emp-profile">
    <div  *ngIf="successalert" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!!</strong>Answer added Successfully...
      <button type="button" (click)="successclosealert()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div  *ngIf="failalert" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error occurs!!</strong>Try Again....
      <button type="button" (click)="failclosealert()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- <form  method="post"> -->
        <div class="row">
            <div class="col-md-4">

                <div class="profile-img">


                  <form [formGroup]= "imageform" (ngSubmit)="onadd()" enctype="multipart/form-data">


                    <input
                    type="hidden"
                     name="userid"
                     value="{{this.userserviceobj.getuserid()}}" formControlName="userid">

                     <!-- <div *ngFor="let res of result"> -->
                      <ng-container *ngIf="proimage1==undefined; else profile">
                       <img src="../../assets/assets/img/icon/userimg.jpg" style="height:100px;width:150px;">
                      </ng-container>

                     <ng-template #profile>
                    <ng-container *ngIf="localUrl; else picture">
                      <img [src]="localUrl" alt="No picture"  style="height:100px;width:150px;">
                    </ng-container>
                  </ng-template>

                    <ng-template #picture>
                      <img src= {{proimage1.image}} class="img" style="height:100px;width:180px;">
                </ng-template>
              <!-- </div> -->



                    <div class="file btn-lg btn-primary mx-auto mt-1">
                        Change Photo
                        <input type="file" name="image"
                       (change)="showPreviewImage($event)"
                        />

                     <button mat-raised-button
                     class="ml-2 mt-2" color="primary" type="submit">Upload</button>

                    </div>

                 </form>
                </div>
            </div>


            <div class="col-md-6">
                <div class="profile-head">
                            <h1>
                              {{userinfo.firstname}}
                              {{userinfo.lastname}}
                            </h1>

                            <p class="proile-rating">RANKINGS : <span>8/10</span></p>

                    <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" id="question-tab" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="false">Questions</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="answer-tab" data-toggle="tab" href="#answer" role="tab" aria-controls="answer" aria-selected="false">Answer</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="follower-tab" data-toggle="tab" href="#follower" role="tab" aria-controls="follower" aria-selected="false">Followers</a>
                  </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <button type="submit" (click)="addcred()"  class="mt-3 ml-2" mat-stroked-button>Add Credentials </button>
                    <button type="submit" (click)="logout()" class="mt-3 ml-2" mat-stroked-button>Logout </button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">

                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                      <span><h1>Your Profile
                        <span class="wr">
                          <mat-icon  class="ml-4 hover" (click)="editprofile()">edit</mat-icon>
                          <p class="text">Edit Profile</p>
                        </span>
                      </h1></span>




                                <div class="row">
                                    <div class="col-md-6">
                                        <label>FirstName</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{userinfo.firstname}} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>LastName</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{userinfo.lastname}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{userinfo.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Contact Number</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{userinfo.contact}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Profession</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Developer</p>
                                    </div>
                                </div>


                                <h1> Credentials
                                  <span class="wr">
                                    <mat-icon  class="ml-4 hover" (click)="editcred()">edit</mat-icon>
                                    <p class="text">Edit Credentials</p>
                                  </span>
                                </h1>

                                <div *ngFor="let cred1 of cred">
                                <div class="row" >
                                  <div class="col-md-6">
                                      <label>Location</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{cred1.location}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                    <label>Date Of Birth</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{cred1.dateofbirth}}</p>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                  <label>Address</label>
                              </div>
                              <div class="col-md-6">
                                  <p>{{cred1.address}}</p>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <label>Profile</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{cred1.profile}}</p>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <label>Work Experience</label>
                          </div>
                          <div class="col-md-6">
                              <p>{{cred1.workexperience}}</p>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <label>Education</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{cred1.education}}</p>
                        </div>
                    </div>
                    </div>
                    </div>

                    <div class="tab-pane fade" id="question" role="tabpanel" aria-labelledby="question-tab"    >
                       <div *ngIf="que.length; else noques">
                        <div class="container Heading shadow-sm p-3 bg-body rounded " *ngFor="let que1 of que"  >
                          <span class="follow">
                            Question added.
                          </span>
                          <span class="follow">
                            Hindi(language)
                          </span>
                          <div class="question " >
                            <a href="#" >
                              {{que1.question}}
                            </a>
                          </div>
                          <span class="answerinfo">
                            No answer yet .
                          </span>
                          <span class="follow">last active 9m ago</span>

                          <!-- <div>The Current Count is {{count}}</div> -->


                          <!--div1.1 -->
                           <div class="bottomdiv">

                            <!--  div1.2 for show answer panel -->

                            <mat-accordion>
                              <mat-expansion-panel hideToggle class="expansiontittle mt-3">
                                <mat-expansion-panel-header class="expansiontittle">
                                  <mat-panel-title class="expansiontittle">
                                    Give answer
                                  </mat-panel-title >
                                </mat-expansion-panel-header>
                                <div>
                                  <div class="answered"  >
                                    <div class="container Heading shadow-sm p-3 bg-body rounded mt-3">
                                      <span class="username">
                                        <ng-container *ngIf="proimage1==undefined; else picture">
                                          <img src="../../assets/assets/img/icon/userimg.jpg" width="30"  alt="userimg">
                                          </ng-container>

                                         <ng-template #picture>
                                          <img src= {{proimage1.image}} class="img" width="45" >
                                        </ng-template>                                        {{userinfo.firstname}} {{userinfo.lastname}}</span>
                                    </div>
                                    <div class="customfont Heading containern shadow-sm p-3 bg-body rounded ">
                                      <button type="submit" mat-flat-button ><i class="fa fa-bold"></i></button>
                                       <button type="submit" mat-flat-button ><i class="fa fa-italic"></i></button>
                                        <button type="submit" mat-flat-button ><i class="fa fa-list-ol"></i></button>
                                        <button type="submit" mat-flat-button ><i class="fa fa-list-ul"></i></button>
                                    </div>
                                    <div class="inputans">
                                      <div *ngFor="let cred1 of cred">
                                      <form #answerform="ngForm" (ngSubmit)="postans(answerform)">

                                        <input
                                        type="hidden"
                                        name="userid"
                                        #userid="ngModel"
                                        [(ngModel)]="userserviceobj.answers.userid">

                                        <input
                                        type="hidden"
                                        name="questionid"
                                        #questionid="ngModel"
                                        [(ngModel)]="que1._id"
                                         >

                                         <input
                                        type="hidden"
                                        name="credentialid"
                                        #credentialid="ngModel"
                                        [(ngModel)]="cred1._id"
                                         >

                                         <input
                                         type="hidden"
                                          name="pictureid"
                                         #pictureid="ngModel"
                                         [(ngModel)]="proimage1._id"
                                           >


                                      <mat-form-field class="ansfield">
                                        <textarea matInput name="answer" class="answerText"  rows="3" placeholder="Write Answer"
                                        #answer="ngModel"
                                        [(ngModel)]="userserviceobj.answers.answer"
                                        required
                                       [ngClass]="{'is-invalid':answerform.submitted && answer.invalid}"></textarea>
                                      </mat-form-field>

                                      <mat-error  *ngIf= "answerform.submitted && answer.invalid">
                                        <mat-error *ngIf="answer.errors?.required">
                                          Answer should be entered
                                        </mat-error>
                                        </mat-error>
                                        <br><br>

                                      <button type="submit" class="postbtn" mat-stroked-button >Post</button>
                                      <button type="button" class="draftbtn mt-2" mat-stroked-button >Save Draft</button>

                                     </form>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                               </mat-expansion-panel>
                             </mat-accordion>
                            </div>
                          </div>

                      </div>
                       <ng-template #noques>
                        <h3>You haven't asked any question yet.</h3>
                        <button class="mt-3 ml-4" mat-raised-button color="primary" (click)="askque()">Ask Questions</button>
                      </ng-template>


                      </div>



                    <div class="tab-pane fade" id="answer" role="tabpanel" aria-labelledby="answer-tab">

                      <div *ngIf="ans.length; else noans">
                       <div *ngFor="let ans1 of ans">
                       <div >
                        <div class="question mt-3">
                       <a href="#">
                            {{ans1.questionid.question}}
                          </a>
                       </div>
                       <div class="info">
                          {{ans1.answer}}
                       </div>
                       <div class="bottom">
                        <button type="submit"  mat-flat-button ><i class="fa fa-thumbs-up" > 1.5k </i></button>
                        <button type="submit" mat-flat-button ><i class="fa fa-thumbs-down" > 2.1k</i></button>
                        <button type="submit"  mat-flat-button ><i class="fa fa-share">4.3k</i></button>
                         </div>

                    </div>

                  </div>
                </div>
                  <ng-template #noans>
                    <h3>You haven't answer any question yet.</h3>
                    <button class="mt-3 ml-4" mat-raised-button color="primary" (click)="giveans()">Give Answer</button>
                  </ng-template>
                </div>


                    <div class="tab-pane fade" id="follower" role="tabpanel" aria-labelledby="follower-tab">

                      <h3>No followers yet</h3>

                    </div>
                </div>
                </div>
            </div>
        <!-- </div> -->
    <!-- </form> -->
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
