<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="container-fluid maindiv">

    <div  *ngIf="successalert" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!!</strong>Answer added Successfully...
      <button type="button" (click)="successclosealert()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div  *ngIf="failalert" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error occurs!!</strong>Try Again....
      <button type="button" (click)="failclosealert()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- <button type="button" class="close" (click)="close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <div class="row">

    <!-- Left Div -->

      <div class="col-md-2 col ">
        <div class=" container  shadow p-3 bg-body rounded">
          <div class="container-fluid Heading pt-2 shadow-sm p-3 bg-body rounded">
             <p><a href="#">Question</a></p>
          </div>
          <div class="container-fluid Heading pt-2 shadow-sm p-3 bg-body rounded">
            <nav>
              <ul class="greyleft">
                <li  class="sidenav">
                  <a href="#">Questions for you</a>
                </li>
                <li  class="sidenav">
                  <a href="#">Most asked questions</a>
                </li>
                <li  class="sidenav">
                  <a href="#">Questions for you</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
     </div>

     <!-- middile div -->

    <div class="col-md-7 col shadow-lg p-3 mb-5 bg-body rounded">
      <div class="container Heading pt-2 text-center shadow-sm p-3 bg-body rounded">
        <p><a href="#">Questions for you</a></p>
      </div>


      <!--  div1 to show question -->
      <div class="toanswer">
        <div class="container Heading shadow-sm p-3 bg-body rounded " *ngFor="let que1 of que">
          <span class="follow">
            Question added.
          </span>
          <span class="follow">
            Hindi(language)
          </span>
          <div class="question ">
            <a href="#">{{que1._id.question}}</a>
          </div>
          <span class="answerinfo">
            No answer yet .
          </span>
          <span class="follow">last active 9m ago</span>


          <!-- div1.1 -->
          <div class="bottomdiv">

            <!--  div1.2 for show answer panel -->
               <mat-accordion>
              <mat-expansion-panel hideToggle class="expansiontittle mt-3">
                <mat-expansion-panel-header class="expansiontittle">
                  <mat-panel-title class="expansiontittle">
                    Give answer
                  </mat-panel-title >
                </mat-expansion-panel-header>
                <div>
                  <div class="answered"  >
                    <div class="container Heading shadow-sm p-3 bg-body rounded mt-3">
                      <span class="username">
                        <!-- <img src="../../assets/assets/img/icon/userimg.jpg" width="30"  alt="userimg"> -->
                        <ng-container *ngIf="proimage1==undefined; else picture">
                          <img src="../../assets/assets/img/icon/userimg.jpg" width="30"  alt="userimg">
                          </ng-container>

                         <ng-template #picture>
                          <img src= {{proimage1.image}} class="img" width="30" >
                        </ng-template>
                        {{userinfo.firstname}} {{userinfo.lastname}}</span>
                    </div>
                    <div class="customfont Heading containern shadow-sm p-3 bg-body rounded ">
                      <button type="submit" mat-flat-button ><i class="fa fa-bold"></i></button>
                      <button type="submit" mat-flat-button ><i class="fa fa-italic"></i></button>
                      <button type="submit" mat-flat-button ><i class="fa fa-list-ol"></i></button>
                      <button type="submit" mat-flat-button ><i class="fa fa-list-ul"></i></button>

                    </div>
                    <div class="inputans">
                      <div *ngFor="let cred1 of cred">
                      <form #answerform="ngForm" (ngSubmit)="postans(answerform)">

                        <input
                        type="hidden"
                        name="userid"
                        #userid="ngModel"
                        [(ngModel)]="userserviceobj.answers.userid">

                        <input
                        type="hidden"
                        name="questionid"
                        #questionid="ngModel"
                        [(ngModel)]="que1._id"

                        >

                          <input
                           type="hidden"
                           name="credentialid"
                           #credentialid="ngModel"
                           [(ngModel)]="cred1._id"
                          >

                          <input
                           type="hidden"
                           name="pictureid"
                           #pictureid="ngModel"
                           [(ngModel)]="proimage1._id"
                          >

                      <mat-form-field class="ansfield">
                        <textarea matInput name="answer" class="answerText"  rows="3" placeholder="Write Answer"
                        #answer="ngModel"
                        [(ngModel)]="userserviceobj.answers.answer"
                        required
                        [ngClass]="{'is-invalid':answerform.submitted && answer.invalid}"
                        ></textarea>
                      </mat-form-field>
                      <mat-error  *ngIf= "answerform.submitted && answer.invalid">
                        <mat-error *ngIf="answer.errors?.required">
                          Answer should be entered
                        </mat-error>
                        </mat-error>
                        <br><br>


                      <button type="submit" class="postbtn" mat-stroked-button >Post</button>
                      <button type="button" class="draftbtn mt-2" mat-stroked-button >Save Draft</button>

                    </form>
                  </div>
                    </div>
                  </div>
                </div>
               </mat-expansion-panel>
             </mat-accordion>
          </div>
       </div>
     </div>



    </div>

     <!-- Right div -->

      <div class="col-md-3 col shadow p-3 mb-5 bg-body rounded righttable">
        <div class="container Heading pt-2 text-center shadow-sm p-3 bg-body rounded">
          <p><a href="#">Add Topics you know</a></p>
        </div>
        <div class="container-fluid topics pt-2 shadow-sm p-3 bg-body rounded">
          <p>Adding topics helps us find questions for you to answer</p>
          <button mat-stroked-button class="topicbtn">Add Topics</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div>
    <app-footer></app-footer>
  </div> -->
</body>
</html>
